body{
font-family:Arial;
text-align:center;
background:#f4f4f4;
}

.user{
background:white;
padding:20px;
margin:20px;
}

#messages{
background:white;
height:300px;
width:80%;
margin:auto;
overflow:auto;
padding:10px;
}

input{
width:60%;
padding:10px;
}

button{
padding:10px 20px;
background:green;
color:white;
border:none;
}